<nav th:fragment="nav" xmlns:sec="http://www.w3.org/1999/xhtml">
  <ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="#skills">Habilidades</a></li>
    <li><a href="#experience">Experiencia</a></li>
    <li><a href="#education">Educación</a></li>
    <li><a href="#projects">Proyectos</a></li>
    <li><a href="#contact">Contacto</a></li>
    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Iniciar Sessión</a></li>
    <li sec:authorize="isAuthenticated()"><a th:href="@{/personal-info}">Administrador</a></li>

    <li sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" method="post" style="display:inline">
        <button type="submit" class="logout-button">Cerrar Sesión</button>
      </form>
    </li>
  </ul>
</nav>
