<section id="experience" th:fragment="experience">
    <h2>MI EXPERIENCIA</h2>

    <div class="experience-timeline" th:each="experience : ${experiences}">
        <div class="timeline-item">
            <h3 th:text="${experience.jobTitle + ' - ' + experience.companyName}"></h3>
            <p class="timeline-date"
               th:text="${experience.startDate + ' - ' + experience.endDate}">
            </p>
            <p th:text="${experience.description}"></p>
        </div>
    </div>

</section>
