<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <section th:fragment="header">
    <h2>Skills</h2>
    <div class="cv-item">
      <div>
        <strong>Skill:</strong> Java
      </div>
      <div>
        <strong>Level:</strong> Avanzado
      </div>
    </div>
    <div class="cv-item">
      <div>
        <strong>Skill:</strong> Angular
      </div>
      <div>
        <strong>Level:</strong> Intermedio
      </div>
    </div>
  </section>
  </body>
</html>